.component__nav-bar {
  background-color: var(--orange);
  position: fixed;
  bottom: 0;
  width: 100vw;
  box-sizing: border-box;
  padding: 20px 0px;
  border-top: 1px solid var(--light-gray);
  z-index: 3;
}

.component__nav-bar__ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.component__nav-bar__list {
  position: relative;
}

.component__nav-bar__icon i {
  color: #2f363e;
  font-size: 35px;
}

#component__nav-bar__message-alarm {
  position: absolute;
  top: -20%;
  right: -25%;
}

#component__nav-bar__update {
  position: absolute;
  top: -10%;
  right: -20%;
}

.component__nav-bar__list {
  transform: translateY(50px) rotateY(90deg);
  animation: iconMove 0.3s ease-in-out forwards;
}

.component__nav-bar__list:first-child,
.component__nav-bar__list:last-child {
  animation-delay: 0.1s;
}

#nav-bar__friends .component__nav-bar__list {
  animation-delay: 3.2s;
}

#nav-bar__friends .component__nav-bar__list:first-child,
#nav-bar__friends .component__nav-bar__list:last-child {
  animation-delay: 3.3s;
}

@keyframes iconMove {
  from {
    transform: translateY(50px) rotateX(90deg);
  }
  to {
    transform: none;
  }
}
